.main {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.leaderboard {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;    
}

.main-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-sub-header {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
    height: fit-content;

}

.leaderboard-small {
    width: 70%;
    min-height: 200px;
    height: fit-content;
    background-color: var(--main-red);
    color: var(--main-white);
    border: 1px solid black;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.leaderboard-small ol {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard-small ol li {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.leaderboard-small ol li:first-of-type {
    color: var(--dark-green);
}

.leaderboard h2 {
    width: 100%;
    padding: 1rem;
}

.free-parking-display {
    width: 30%;
    min-height: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--main-red);
    color: white;
    padding: 1rem;
    border: 1px solid black;
}

.free-parking-sub-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.free-parking-sub-display button, .pay-out-active button {
    background-color: var(--dark-green);
    color: black;
    font-weight: bold;
}

.pay-out-active {
    background-color: var(--main-red);
    color: white;
    padding: 1rem;
    border: 1px solid black;
}

.pay-out-inactive {
    display: none;
}

.player-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    background-color: var(--main-white);
    color: black;
}

.player-row h3 {
    text-decoration: underline;
    height: 100px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-orange);
    /* color: white; */
    border: 1px solid black;
}

.player-row button {
    height: 50px;
    padding: 5px;
    margin: 5px;
}

.player-info {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 1rem;
}

.player-info h4 {
    height: 100%;
    width: 50%;
    background-color: var(--dark-green);
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.actions {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-buttons {
    width: 100%;
    display: flex;
    height: fit-content;
}

.action-buttons button {
    width: 50%;
}

.go-button, .tax-button {
    height: fit-content;
    width: 50%;
    background-color: var(--main-red);
    color: black;
    font-family: 'Monopoly Bold';
    font-weight: bold;
    font-size: 2.5rem;
}

.tax-button {
    background-color: var(--main-blue2);
    color: white;
}

.tax-action-button-display {

}

.display-action-true {
    display: flex;
}

.display-action-false {
    display: none;
}

.lost {
    filter: opacity(0.5);
}

.inactive {
    text-decoration: line-through;
    filter: opacity(0.5)
}